# CONFIGURACIÓN DEL SERVIDOR
PORT=3000

# CONEXIÓN A MYSQL INDIVIDUAL (LOCAL / XAMPP)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=crece_db

# CONEXIÓN A MYSQL VÍA URI (RECOMENDADO PARA PROVEEDORES CLOUD COMO RENDER / AIVEN / CleverCloud)
# Si defines esta variable, se ignorarán las de arriba
# Formato: mysql://usuario:contraseña@host:puerto/nombre_base_datos
DATABASE_URL=

